<div>
  <label>Location city:
    <input #locationCity />
  </label>
  <label>Location state:
    <input #locationState />
  </label>

  <button (click)="add(locationCity.value, locationState.value);locationCity.value=''; locationState.value=''">
      add
    </button>
</div>

<h2>My Locations</h2>
<ul class="locations">
  <li *ngFor="let location of locations"
    (click)="onSelect(location)">
    <span class="badge">{{location.id}}</span> {{location.city}} {{location.state}}
  </li>
</ul>

<app-location-detail [location]="selectedLocation"></app-location-detail>
